body {
    font-family:'Times New Roman', Times, serif
}

p {
    font-size: 3em;
}

.eye {
    background-color: rgb(153, 210, 225);
    width: 20%;
    height: 30%;
    border-radius: 30%;
}

.arm {
    background-color: #dc09a7;
    position: absolute;
    top: 35%;
    width: 5%;
    height: 40%;
}

#head {
    width: 30%;
    height: 30%;
    border-radius: 15%;
    background-color: #41d23a;
    position: absolute;
    left: 33%;
    top: 5%;
}

#righteye {
    /* background-color: rgb(226, 147, 43); */
    position: absolute;
    left: 12%;
    top: 20%;
}

#lefteye {
    position: absolute;
    right: 20%;
    top: 20%;
}

#nose {
    position: absolute;
    left: 40%;
    top: 50%;
    width: 10%;
    height: 10%;
    background-color: rgb(209, 29, 29);
}

#mouth {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 20%;
    top: 70%;
    border-radius: 50%;
    background-color: rgb(133, 0, 126);
    border-style: dashed;
}

#body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 55%;
    background-color: #8523e1;
    text-align: center;
    padding-top: 30px;
    border-style: dotted solid ;
}

#rightarm {
    background-color: lab(88.09% -26.78 83.48); 
    position: absolute;
    left: 20%;
}

#leftarm {
    position: absolute;
    right: 3%;
    width: 27%;
    height: 4%;
}